class {{ obj.name }}(models.AbstractModel):
    "CIDE Combustíveis"
    _description = textwrap.dedent("    %s" % (__doc__,))
    _name = 'nfe.40.cide'
    _inherit = 'spec.mixin.nfe'
    _generateds_type = 'CIDEType'

{%- for attr in obj.attrs %}
    {{ field_prefix }}{{ attr.name }} = fields.{{   attr.types|join(", ", attribute="name") }}{{ "[]" if attr.is_list else "" }}
{%- endfor %}

{% for ext in obj.extensions %}
{{ obj.name }} *- {{ ext.type.name }}
{%- endfor %}
{%- for inner in obj.inner %}
{{ obj.name }} +-- {{ inner.name }}
{% with obj=inner -%}
    {%- include "class.jinja2" %}
{%- endwith -%}
{% endfor %}
