{% set level = level|default(0) -%}
{% set parents = parents|default([obj]) -%}

{%- if not obj.name|pattern_skip(parents) %}
class {{ obj.name|class_name }}(models.AbstractModel):
    {{- obj.help|clean_docstring }}
    _description = textwrap.dedent("    %s" % (__doc__,))
    _name = '{{ obj.name|registry_name }}'
    _inherit = 'spec.mixin.nfe'
    _binding_type = "{{ obj|binding_type(parents) }}"

    {%- if parents|length > 1 %}
    {{ obj|parent_many2one(parents) }}
    {%- endif %}
    {%- for attr in obj.attrs %}
    {%- if not attr.name|pattern_skip(parents) %}
    {%- set odoo_field_definition = attr|odoo_field_definition(parents) %}
    {{ attr.name|field_name }} = {{odoo_field_definition }}
    {%- endif %}
    {%- endfor %}

{% for ext in obj.extensions %}

{%- endfor %}



{%- for inner in obj.inner %}
    {%- set tpl = "enum.jinja2" if inner.is_enumeration else "class.jinja2" -%}
    {%- set inner_parents = parents + [inner] -%}
    {%- with obj=inner, parents=inner_parents, level=(level + 1) -%}
        {% include tpl %}
    {%- endwith -%}
{%- endfor -%}

{%- endif %}
