{{- obj|enum_docstring }}
{{ obj.name|upper }} = [
{%- for attr in obj.attrs %}
  {% if not obj|enum_skip(attr.default) -%}
  ("{{ attr.default }}", "{{ attr.help|replace('\n', ' ')  or attr.default }}"),
  {% else -%}
  # ("{{ attr.default }}", "{{ attr.help|replace('\n', ' ')  or attr.default }}"),
  {% endif -%}
{%- endfor %}
]
